

*,*:after,*:before
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    
  }
  body{
     font-family: 'Playfair Display', serif;
  }
/* .owl-stage,.owl-item {
    width: 100% !important;
} */
.container{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}

.scrolled{
	background-color: #ffb60078 !important;
	color: #fff;
	width: 100%;

}


body{
    font-family: 'Roboto Slab', serif;
   
    

}
.clearfix{
    clear:both;
}



.navbar{
     background-color: #3673a3;
   
width: 100%;   

    z-index: 3;
}
.navbar-absolute{
  position: absolute;
}
.navbar .navbar-brand{
    color: #fff;
    font-size: 30px;
}
.navbar .navbar-brand span{
	color: #ff9000;
	
}
@media screen and(max-width:768px){
    .navbar .navbar-brand{
         font-size:24px;
    }
}
.navbar .navbar-nav .nav-link{
    color: #fff;
    
    font-size: 18px;
}
.nav-item dropdown{
    color: #fff;
}
.navbar .navbar-nav i{
	line-height: 3;
    margin-left: 20px;
    color: #fff;
}

.navbar .navbar-nav .active .nav-link,
.navbar .navbar-nav .nav-link:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}
@media(max-width: 768px),(max-width: 400px){
.navbar-collapse{
    background: #fff;
}
}
.navbar-toggler-icon{
    background: #ff9000;
    color:#FF1756;
}
/*header*/
.header{



position: relative;
background: linear-gradient(#386e9c,rgba(187,145,47,0.23)),url(../img/hotel1.jpg) no-repeat;
background-size: cover;


height: 600px !important;


color: #fff;
}
/*bxslider*/

.header .slider {
    list-style: none;
    padding: 0 !important;

}

.header .slider li{
    display: block;
    width: 100%;
   
}
.header .slider li h2{
    font-size: 3rem;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 50%;
    margin-top: 20%;
    transform: translate(50%,-50%);
    top:20%;
    padding: 10px;
    
}
@media(max-width: 768px){
    .header .slider li h2{
        font-size: 22px;
    }

}
.header .slider li h2 span{
    color: #b06708;
}
.header .slider li p{
    font-size: 20px;
    color: #ccc;
    margin-top: 20px;
}
.header .slider li button{
    padding: 10px 50px;
    background: #b06708;
    color: #fff;
    transition: all 1s ease-in-out;
}
@media(max-width: 768px){
  .header .slider li button{
    padding: 10px 10px;
  }  
}
.header .slider li button:hover{
    background: transparent;

}
.header .bx-wrapper {
background: none;
border: 0;
height: 100%;
}
.bx-viewport{
box-shadow: none;
background: none;
border: 0;
text-align: center;


}
/*about*/
.about{
	padding: 50px 0;
	text-align: center;

}
.about h1{
	position: relative;
	
	display: inline-block;
    line-height: 25px;
    margin-bottom: 55px;
    padding-bottom: 33px;
    color: #b06708;
   
}
.about h1::after{
	background: rgba(0, 0, 0, 0) url(../img/nice-title.png) no-repeat scroll 0 0;
    bottom: -30%;
    content: "";
    height: 50%;
    left: calc(50% - 51.5px);
    position: absolute;
    width: 103px;
}
.about p{
	font-size: 16px;
    font-family: 'Karla', sans-serif;
    width: 60%;
    margin: auto;
    color: #938b8b;
    margin-bottom: 20px;
}
.about img{
	max-width: 100%;
    display: block;
    height: auto;
}
.about .part {
	overflow: hidden;
	position: relative;
}
.about .part img:hover{
	transform: scale(1.5);
	transition: all 1.5s ease-in-out;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #cd950ad1;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1.5s ease;
}

.part:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text{
	color: #fff;
	margin: 20px 0;
}
.about .overlay .text h3{
	color: #fff;
}
.about .overlay .text p{
	color: #fff;
}
/*start tabs*/
/* Style tab links */
.tablink {
  background-color: #b06708;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #ffb60078;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 700px;
}

#Home,#News,#Contact,#About{background:url(../img/hotelcover.jpg);
background-attachment: fixed;
background-position: center;
}

 #Home .rest,
 #News .rest,
 #Contact .rest,
 #About .rest {
    background: #fff;
   color: #000;
   width:80%;
   margin: 100px auto;
   height: 350px;
}
#Home .rest img
{
max-width:100%;
padding: 20px;
}
#Home .rest h3{
	    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin: 30px;
}
#Home .rest p{
	    color: #7b6e6e;
    width: 75%;
}
#News {background:url(../img/hotelcover.jpg);
background-attachment: fixed;
background-position: center;}
#News .rest{
	background: #fff;
   color: #000;
   width:80%;
   margin: 100px auto;
   height: 350px;
   padding: 20px;

}
#News .rest img{
max-width: 80%;
padding: 20px;
}
#News .rest h3{
	    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin: 30px;
}
#News .rest p{
	    color: #7b6e6e;
    width: 75%;
}
/*contact tab*/
#Contact .rest img{
	max-width: 70%;
	margin: 30px;
}
#Contact .rest h3{
	    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin: 30px;
}
#Contact .rest p{
	    color: #7b6e6e;
    width: 75%;
}

#About .rest img{
	max-width: 70%;
	margin: 30px;
}
#About .rest h3{
	    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin: 30px;
}
#About .rest p{
	    color: #7b6e6e;
    width: 75%;
}
/*gallery*/
.gallery{
	background: #f2f2f2;
	padding: 100px 0;

}
.gallery img{
	max-width: 100%;
}
.gallery h1{
	text-align: center;
}
.gallery hr{
	width: 9%;
	height: 4px;
    background: #ff9000;
    margin: auto;
    margin-bottom: 20px;
}
.gallery p{
	width: 54%;
    margin: auto;
    text-align: center;
    color: #555;
    margin-bottom: 20px;

}
/*category*/
.category{
	padding:50px 0;
	background: #f2f2f2;
}
.category h2{
	text-align: center;
	
}
.category hr{
	width: 9%;
	height: 4px;
    background: #ff9000;
    margin: auto;
    margin-bottom: 50px;
}
.category .category-info{
	border: 1px solid #ff9000;
	padding: 50px;
	text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.category .category-info:hover{
	background: #ff9000;
	color: #fff;
}
.category .category-info:hover i{
	color: #fff;
}
.category .category-info i{
	color: #ff9000;
}
.category .root{
	margin-top:10px;
}
/*footer*/
.footer{
    background: #383838  ;
    
    color: #fff;
}

.footer .contact{
    min-height: 200px;
    margin: 30px;
}
.footer .contact h3{
        text-transform: uppercase;
        font-size: 23px;
       
}
.footer .contact .icons{
    color: #fff;
}
.footer .contact .icons i{
    background: #ff9000;
    padding: 4px 6px;
}

.footer .links{
    margin: 30px;
}
.footer .plog2{
    margin: 30px;
}
.footer .plog2 img{
    width: 30%;
    float:left;
    height: 60px;
    margin-right: 5%;
    vertical-align: middle;
}
.footer .plog2 .content{
    width: 64%;
    float:left;

}
.footer .plog2 .content time{
    font-size: 10px;
}
.footer .news{
    padding: 28px;
}
.footer .news input{
    background: #fff;
    border: 0;
    position: relative;
    padding: 10px 2px;
}
.footer .news #btn1{
    position: absolute;
        padding: 10px 2px;
    width: 12%;
    background: #ff9000;
    border: 0;
}
@media screen and(max-width: 567){
    .footer .plog2 img{
        width: 50%;
        float: none;
        
    }
}
/*footer2*/
.footer2{
	background: #3673a3;
	padding: 20px;
	text-align: center;
	color: #fff;
}
.footer2 i{
	color: #ff9000;
}
@media screen and (max-width: 567px){
  .footer .plog2{
    margin: 0;
}
}
