<form class="well col-xs-8 col-xs-offset-2" ng-submit="insert()">
    <div class="form-group">
        <label>price</label>
        <input type="number" class="form-control" ng-model="price" required>
    </div>

    <div class="form-group">
        <label  class="col-xs-4 col-sm-2 col-md-2 col-lg-2">Type</label>
        <select>
            <option type="3star">single</option>
            <option type="5star">duable</option>
        </select>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="descr" required></textarea>
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="file" onchange="angular.element(this).scope().prepare(this)"><br>
        <img src="{{image}}" style="width: 400px;height: 220px">
    </div>

    <button class="btn btn-success btn-lg">Insert</button>

</form>